%ul.feed_list
  %li= link_to "Google Merchant Center Import Feed", "/products/google.xml", target: "_blank"
  %li= link_to "Ebay Api Feed", "/products/ebay.xml", target: "_blank"
  %li= link_to "Amazon MWS Feed", "/products/amazon.xml", target: "_blank"