= form_for @cart, url: update_checkout_carts_path, method: :post do |f|
  = f.hidden_field :name
  
  =link_to(image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), express_checkout_carts_path)

  = f.submit "Next Stage"
  = link_to "Previous", previous_carts_path(status: :constructing)
