#admin_header
  %h1 Listing Orders

#admin_table



  %table
    %thead
      %tr
        %th ID

    %tbody
      - @orders.each do |order|
        %tr{class: cycle("odd", "even")}
          %td= order.id