= provide :page_title, @page.page_title
= provide :meta_description, @page.meta_description
- if @page.banner.path.present?
  - content_for :highlights do
    #banner{style: "background-image: url(#{@page.banner});"}
= raw @page.body
