#form_container
  %h1 Checkout
  %h2= @cart.checkout_status.humanize
  - if @cart.errors.any?
    #error_container
      - @cart.errors.messages.each do |error|
        .error= error
  = render @cart.checkout_status

