%h1 Thank you for your order
%p We have received your order and will process it shortly. Please see order details below:

%table
  %thead
    %tr
      %th Name
      %th Quantity
      %th Price
  - @order.order_items.each do |item|
    %tr
      %td= item.product.name
      %td= item.quantity
      %td= item.product.unit_price
  %tr
    %td Total
    %td
    %td= number_to_currency @order.total_price, locale: :en
