%h1 A new order has been made.
%p The following items have been ordered:

%table
  %thead
    %tr
      %th Name
      %th Quantity
      %th Price
  - @order.order_items.each do |item|
    %tr
      %td= item.product.name
      %td= item.quantity
      %td= item.product.unit_price
  %tr
    %td Total
    %td
    %td= number_to_currency @order.total_price, locale: :en

