#layout_columns
  display: flex

  .sidebar_column
    flex: 0 0 200px
    border-top: 1px solid rgba(255,255,255,0.3)

    &.second_sidebar
      padding: 20px
      margin-top: 40px 


  &.single_sidebar 
    margin: 0 auto

    .sidebar_column
      flex: 0 0 250px

  .main_column
    flex: 1

.not_front .sidebar_column
  padding-top: 100px