.background_footer
#footer-inner
  .footer-logo.footer-div
    = link_to image_tag(@site.logo), root_path
  .footer-services.list-footer-panel.footer-div
    %h4 Signline
    %ul
      %li= link_to "Terms and Conditions", page_path('terms-and-conditions')
      %li= link_to "Privacy Policy", page_path('privacy-policy')
  .footer-address.footer-div.list-footer-panel
    %h4 Get in Touch
    .add_sect
      Signline Signs & Printing Limited
      %br
      Unit 5a
      %br
      Wymondham Business Centre
      %br
      Eleven Mile Lane
      %br
      Suton
      %br
      Wymondham
      %br
      Norfolk
      %br
      NR18 9JL.
    .add_sect
      Tel: 01953 711 881 or 01379 677 699
      %br
      sales@signsandprinting.co.uk
      %ul.contacts
        %li
          = link_to "https://www.facebook.com/SignLine-190716004303292/?fref=ts", target: "_blank" do
            %i.fa.fa-facebook

#copyright
  ©2017 Signline. All Rights Reserved
