- provide :title, "Sites"
= render 'section_bar'


%table
  %thead
    %tr
      %th Name
      %th Settings

  %tbody
    - @sites.each do |site|
      %tr{class: cycle("odd", "even")}
        %td= site.name
        %td= link_to 'Edit', edit_admin_site_path(site)

